@font-face {
    /*字体名称，名字可以随便起，但是注意要一致，建议英文*/
    font-family: 'AaGuDianKeBenSong';
    font-display: swap;
    src: url('./AaGuDianKeBenSong-2.ttf');  
    src: url('./AaGuDianKeBenSong-2.ttf') format('embedded-opentype'),  /* IE6-IE8 */
         url('./AaGuDianKeBenSong-2.ttf') format('woff2'),
         url('./AaGuDianKeBenSong-2.ttf') format('woff'),  /*chrome、firefox */
         url('./AaGuDianKeBenSong-2.ttf') format('truetype'),  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
         url('./AaGuDianKeBenSong-2.ttf') format('svg');  
  }
